html, body{margin:0;background: black;color: white;font-family: 'Open Sans', sans-serif;line-height:150%;}#maibordercolor{position:fixed;z-index:0;width:100vw;height:calc(100vh - 80px);background:#808080;border-top:solid 40px #404040;border-bottom:solid 40px #404040;}
img{height:100%;}
#maiheader{position:fixed;width:100vw;height:40px;top:0;background:#404040;z-index:50;}
#maiheadlogo{position:absolute;top:0;left:0;height:40px;width:40px;}
#mainav_wrapper{position:absolute;height:40px;font-size:16px;font-weight:bold;z-index:55;}
#mainav_expand{display:none;}
#mainav_wrapper ul{list-style:none;margin:0;padding:0 10px;line-height:40px;}
#maimnav_head{display:none;}
.maidnavoption{display:inline-block;margin:0 20px;}
.maimnavoption{display:none;}
#maifooter{position:fixed;width:100vw;height:40px;bottom:0;background:#404040;z-index:49;}
#maidesktop_wrapper{position:fixed;left:0;top:0;width:1200px;}
.maideskonly{position:fixed;background-color:#262626;height:100vh;}
#maiprofileinfo{top:0;left:0;width:150px;}
#maiconstantinfo{top:0;right:0;width:225px;}
#maicontent{position:absolute;left:150px;width:825px;min-height:100vh;z-index:40;background-color:black;}

#mathand{position:relative;margin-top:50px;height: calc(90vh - 50px);}
#mathand img{position:absolute;top:20px;left:10%;}
#play1{position:absolute;padding:10px;left:60%;top:50%;height:20px;width:40px;cursor:pointer;}
#play2{position:absolute;padding:10px;left:38%;top:50%;height:20px;width:40px;cursor:pointer;}
#nextset{position:absolute;padding:5px 20px;left:48%;top:68%;height:20px;width:40px;cursor:pointer;}
#audiowrapper{position:relative;height:100%;width:100%;}
#acontrol{display:block;margin:0;padding:0;width:100%;}


/*Temp Signup Styles*/
#ts{text-align:center;}
#ts #demo_profile_pic{margin:10px auto;background:#262626;background-repeat:no-repeat;background-size:100%;height:150px;width:150px;border-radius:50%;border:solid gray 5px;}

/*Profile Styles*/
#profile{padding-top:100px;}

/*Matchup Styles*/
#matchupsui{padding-top:50px;max-width:100vw;font-size:80%;text-align:center;}
#matchupsui img{display:block;height:80vh;margin-left:10%;}
#matchupsui table{position:absolute;top:30%;left:31%;width:320px;}
#matchups .aname{font-size:150%;padding-bottom:20px;width:100px;}
#matchups .playbutton{padding-bottom:20px;min-width:125px;cursor:pointer;}
#matchups .winbutton{padding-top:20px;cursor:pointer;}
#matchupSubmit{position:absolute;left:50%;transform:translate(-50%,0);padding:0 10px;background:black;border:2px outset gray;bottom:30%;cursor:pointer;}


@media screen and (min-width: 1200px){
	#maiheader{width:80vw;min-width:1200px;left:50%;transform:translate(-50%);}
	#maifooter{width:80vw;min-width:1200px;left:50%;transform:translate(-50%);}
	#maicontent{left:calc(50% - 37px);transform:translate(-50%);width:calc(80vw - 374px);min-width:825px;}
	#maidesktop_wrapper{position:fixed;width:80vw;min-width:1200px;left:50%;transform:translate(-50%);background-color:purple;}
}

@media screen and (min-width: 976px){
	#mainav_wrapper{top:0 !important;left:40px !important;}
}

@media screen and (max-width: 975px){
	#mainav_expand{display:block;position:relative;height:40px;width:40px;background:yellow;}
	#maiheadlogo{left:50%;transform:translate(-50%);}
	#mainav_wrapper{left:-100vw;height:100vh;}
	#mainav_closearea{position:absolute;top:0;left:0;height:100vh;width:100vw;opacity:0;z-index:0;}
	#mainav_wrapper ul{position:absolute;top:125px;left:0;display:block;padding:0;height:calc(100vh - 125px);z-index:1;background-color:black;width:calc(100vw - 40px);max-width:400px;border-right:solid 2px white;}
	#mainav_wrapper li{display:list-item;margin:0;max-height:calc((100vh - 140px)/11);}
	#maimnav_head{position:absolute;top:0;left:0;display:block;background-color:darkgreen;height:125px;z-index:1;width:calc(100vw - 40px);max-width:400px;border-right:solid 2px white;}
	#maimnav_close{width:40px;height:40px;float:right;}
	#maidesktop_wrapper{display:none;}
	#maicontent{left:0;width:100%;}
}
