html, body{margin:0;background: black;color: white;font-family: 'Open Sans', sans-serif;line-height:150%;}
img{height:100%;}
.invalidinput::-webkit-input-placeholder {color: red}

#nav_wrapper{position:relative;width:100%;height:50px;z-index:50;}
#opener_wrapper{min-height:80vh;padding:10vh 10vw;}
#openerback{position:absolute;top:0;left:0;width:100%;z-index:0}
#openercontent{position: relative;z-index:4}
#dopener_content h1{font-size:60px;}
#dopener_content p{font-size:26px;line-height:125%;}
#signupreveal{display:block;text-decoration:none;cursor:pointer;background:#4d4d4d;border:groove 2px black}
#signupsubmit{cursor:pointer;margin:0 auto;margin-top:20px;background-color:#03B1E9;width:100px;text-align:center;padding:5px;}
#signupform_wrapper{background-color:black;}
.signupinput{background-color:#262626;width:100%;border:none;color:white;height:30px;margin:1px 0;}
#signupsuccess{text-align:center;padding:20px;}
#msignup_head{display:none;}
#cdl_wrapper{position:relative;padding:50px 0;}
#cdl_slider{display:flex;justify-content:center;flex-wrap:wrap;}
.cdlbox{text-align:center;color:#a6a6a6;}
.cdlimg{margin:0 auto;margin-top:20px;margin-bottom:20px;height:100px;}
.cdlbigtext{font-size:40px;font-weight:bold;color:white;}
#testimonials_wrapper{position:relative;padding-top:50px;padding-bottom:300px;display:flex;justify-content:center;flex-wrap:wrap;}
.testimonial{position:relaative;}
.teimg{float:left;margin-right:10px;background:pink;}
.tetext{font-size:90%;text-align:justified;}
.teartist{text-align:right;padding-right:20px;}
.artistlabel{font-size:80%;font-weight:bold;color:#a6a6a6}
#slider_wrapper{position:relative;background-color:#1a1a1a;height:90vh;}
.slidelayer{text-align:center;font-size:22px;line-height:125%;}
.slimg{margin:0 auto;height:60%;width:60%;margin-bottom:10px;}
.sltextbig{font-size:70px;color:#03B1E9;line-height:normal;}
#splashfoot{height:50px;z-index:40;}
#iash_wrapper{position:relative;}

/*esf styles*/
#esf{min-height:calc(100vh - 100px);padding-top:100px;text-align:center;background-image:url('/images/openerback.png');background-repeat:no-repeat;background-size:100%;}
#emailform{margin:0 auto;width:500px;max-width:90vw;}


/*mobile only*/
@media screen and (min-width: 420px){
	#nav_wrapper{padding-left:10vw;font-size:30px;font-weight:bold;width:calc(100% - 10vw);}
	#dopener_content{width:600px;max-width:80vw;}
	#mopener_content{display:none;}
	#signupreveal{color:white;width:100px;padding:5px;text-align:center;font-weight:bold;}
	#signupform_wrapper{width:400px;height:0px;overflow:hidden;}
	.cdlbox{width:250px;margin:50px;}
	.testimonial{width:40vw;min-width:400px;max-width:calc(100vw - 60px);height:120px;margin:40px 30px;}
	.teimg{height:120px;width:120px;}
	.tetext{font-size:90%;}
	#slide_holder{position:absolute;left:50%;transform:translate(-50%);top:-200px;height:900px;max-height:90vh;min-height:600px;width:800px;max-width:100vw;margin-bottom:50px;overflow:auto;}
	#slider_slide{position:absolute;display:flex;height:100%;}
	.slidelayer{margin:10px;width:780px;max-width:calc(100vw - 20px);height:calc(100% - 20px);}
	#iash_wrapper{text-align:right;font-size:40px;}
	#iashtext{position:absolute;right:250px;top:100px;z-index:5;}
}

/*desktop only*/
@media screen and (max-width: 420px){
	#nav_wrapper{display:none;}
	#opener_wrapper{height:30vh;min-height:100px;padding:30px 0 0 0;}
	#dopener_content{display:none;}
	#mopener_img{height:60px;width:60px;margin: 0 auto;background-color:gainsboro;}
	#mopener_content{text-align:center;}
	#signupreveal{position:fixed;bottom:0;width:100vw;height:40px;line-height:40px;text-align:center;z-index:50}
	#signupform_wrapper{position:fixed;top:105vh;left:0;width:100vw !important;height:100vh !important;z-index:49;overflow:hidden;}
	#msignup_head{display:block;text-align:center;height:40px;line-height:40px;background-color:#1a1a1a;}
	#msignup_collapse{float:right;width:40px;height:40px;font-size:25px;}
	#cdl_wrapper{background-color:black;display:block;height:calc(70vh - 80px);overflow:auto;padding:0;margin:0;}
	#cdl_slider{position:relative;display:flex;width:300vw;height:calc(70vh - 80px);}
	.cdlbox{margin:10px;width:calc(100vw - 20px);height:calc(100% - 20px);}
	#testimonials_wrapper{display:block;padding:20px 10px;}
	.testimonial{position:relative;margin:40px 0;font-size:80%;}
	.teimg{height:50px;width:50px;position:absolute;left:0;top:0;}
	.tetext{padding-left:55px;}
	#slider_wrapper{height:80vh;overflow:auto;}
	#slider_slide{position:relative;display:flex;width:400vw;height:80vh;}
	.slidelayer{margin:10px;width:calc(100vw - 20px);height:calc(100% - 20px);font-size:16px;}
	.slimg{height:50%;width:70;}
	.sltextbig{font-size:30px;}
	#iash_wrapper{height:60vw;text-align:center;}
	#iashtext{position:absolute;top:30px;width:100%;text-align:center;}
	#splashfoot{display:none;}
}
