body, html{
	margin: 0;
}
p{
	margin:0;
}

#mtopbar{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 60px;
	background-image: url("/images/mbar.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 50;
    border-bottom: solid 1px white;
}
#nav_expand{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 40px;
}

#nav_container{
	position: absolute;
	top: 40px;
	left: -55vw;
	width: 55vw;
	height: calc(100% - 40px);
	background-color: #5E5E5E;
	z-index: 5;
}
.navlink{
	text-decoration: none;
	color: white;
	display:block;
	margin: 0 15px;
	line-height: 40px;
	height:40px;
}
.navlink:hover{
	color: #80E6FF;
}
.navlink:active{
	color: #00CCFF;
}
#title{
	position:fixed;
	top:0;
	left:50%;
	transform: translateX(-50%);
	height: 60px;
	line-height: 60px;
	font-size: 115%;
	color: white;
	z-index: 50;
}
#controlbar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #171717;
	border-top: solid gray 1px;
	z-index: 30;
}
#acontrol{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#backg{
	position: relative;
	height: 100vh;
	background-color: lavender;
	z-index: 0;
}