{% extends "signupbase.html" %}

{% block signuptext %}
<div id='admin' class='row'>
	<div id='admin-links'>
		<h2>Pages only admins can see:</h2>
		<ul>
			<l1><a href='/scmatchups' class='bluelink'>Soundcloud based matchups -></a></l1><br><br>
			<l1><a href='/mockup' class='bluelink'>Mockup for future pages -></a></l1><br><br>
			<l1><a href='/mockup/standings' class='bluelink'>Standings mockup -></a></l1>
		</ul>
	</div>

	<div id='admin-messages'>
		<h1>This is the admin page. Only you and I can see it</h1>
		<h2>I will use this to post updates on my progress. Any time something large happens, there will be a message about it here</h2>
		<div class='ap-wrapper'>
			<h2>Message 0 (04/10/2016)</h2>
			<p>Welcome to this page. You can see what I'm doing, pages that I'm currently working on (before they go public), and my future plans</p>
		</div>
	</div>
</div>

<style>
#signup-form-wrapper{display:none;}
#signup-text{position:relative;width:100%;margin:0 auto;padding-top:0;}
#admin{}
#admin-links{width:250px;padding:25px;background:#262626;}
#admin-messages{width:750px;}
.ap-wrapper{background:#262626;padding:25px;}
</style>
{% endblock %}
