{% extends "mbase.html" %}

{% block content %}
   <p id='title'>Matchups</p>
  <div id='backg'>
  	<img src='/images/mmatchupback.jpg' style='width:100%'>
  	<div id='play1' class='playbutton' onclick="javascript:playSong('galvanize.mp3');return false;">Play</div>
	<div id='play2' class='playbutton' onclick="javascript:playSong('FunkParty.mp3');return false;">Play</div>
  </div>
  <style>
	.playbutton{
		position: absolute;
		height: 30px;
		text-align: center;
		font-weight: bold;
		line-height: 30px;
		width: 50px;
		background-color: #80E6FF;
		color: black;
		z-index: 60;
	}
	#play1{
		top: 53%;
		left: 19%;
	}
	#play2{
		top: 53%;
		left: 70%;
	}
	</style>
{% endblock %}