<!DOCTYPE html>
<html>
  <head>
    <title>Starving Sounds</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
  </head>

 <body>
<div id='ts'>
 <h1>Create Demo Account</h1>
 <p>this is also a test of our user system</p>

</div>
</body>