<!DOCTYPE html>
  <html>
    <head>
      <title>Starving Sounds</title>
      <link rel='stylesheet' href='/css/mockupbase.css'/>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
      <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
      <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
      <script src="/js/app.js" charset="utf-8"></script>
    </head>

<body>
  <div id='bckgtop' class='bckgbar' style='top:0'>
    <div id='topbar'>
      <img id='headlogo' src="/images/logo.png" alt="...")>
      <ul id='nav'>
        <li class='maidnavoption'>Starving Sounds</li>
        <li class='maidnavoption'>Standings</li>
        <li class='maidnavoption'>Matchups</li>
      </ul>
    </div>
  </div>
  <div id='bckgbottom' class='bckgbar' style='bottom:0'>
    <div id='bottombar'>
      <div id='bb-controls'>
        the controls
      </div>
      <div id='bb-time'>
        <div id='bbtime-elapsed'>0:00</div>
        <div id='bbtimebar'></div>
        <div id='bbtime-total'>3:56</div>
      </div>
      <div id='bb-nowplaying'>
        <div class='tg'>Now Playing...</div>
        <div id='bbnp-info'>
          <div id='bbnpi-text'>Cigaretts<br><span class='tg'style='font-size:12px'>Marc Bassy</span></div>
          <div id='bbppic' class='ppicback'></div>
          <div class='tb'>...</div>
        </div>
      </div>
    </div>
  </div>
  <div id='bodyarea'>
    <div id='leftside'>
      <div id='ls-profile'>
        <div id='lsp-1'>Pat App</div>
        <div id='lsppic'class='ppicback'></div>
        <div id='lsp-2' class='tb'>Tracks</div>
        <div id='lsp-3'>If you don't aim too high, you aim too low.</div>
        <div id='lsp-4'>Highland, IN</div>
        <div id='lsp-5' class='tg'>United States</div>
      </div>
      <div id='ls-nav' class='tg'>
        <ul>
          <li style='color:white'>Home</li>
          <li>Profile</li>
          <li>Messages <span class='tb'>1</span></li>        
        </ul>
        <ul>
          <li>Ranking Up</li>
          <li>Matchup History</li>
          <li>Contests</li>        
        </ul>
      </div>
    </div>
    <div id='content'>
      Content
    </div>
    <div id='rightside'>
      <div id='rs-1'>
        <div id='rs1-1'>
          <div class='tg'>LVL2</div>
          <div>750/<span class='tg'>/1000XP</span></div>
        </div>
        <div id=rs1-2>Credits: <span class='tb'>0</span></div>
      </div>
      <div class='rs-title tg'>Who'se hot</div>
      <table id='rs-hot' class='rs-table'>
        <tr>
          <td class='rst-1'>Pat App's "<span class='tg'>Beautiful Minds</span>": won 22nd matchup in a row</td>
          <td class='rst-2 tg'>35 min ago</td>
        </tr>
        <tr>
          <td class='rst-1'>TyPo's "<span class='tg'>Gimme Some</span>": won 14th matchup in a row</td>
          <td class='rst-2 tg'>1 hour ago</td>
        </tr>
        <tr>
          <td class='rst-1'>Descreet's "<span class='tg'>Unfolding</span>": won 10th matchup in a row</td>
          <td class='rst-2 tg'>6 min ago</td>
        </tr>
      </table>
      <div class='rs-title tg'>News</div>
      <table id='rs-hot' class='rs-table'>
        <tr>
          <td class='rst-1'>Poet's "<span class='tg'>Beautiful Minds</span>"wins the best storytelling song contest!</td>
          <td class='rst-2 tg'>1 week ago</td>
        </tr>
        <tr>
          <td class='rst-1'>Grey Lamb takes home the 20k freestyle challenge with "<span class='tg'>Gimme Some</span>"</td>
          <td class='rst-2 tg'>3 days ago</td>
        </tr>
        <tr>
          <td class='rst-1'>Pat App becomes the first artist in our <span class='tg'>Hall of Fame</span>!</td>
          <td class='rst-2 tg'>2 days ago</td>
        </tr>
        <tr>
          <td class='rst-1'>Check out our new <span class='tg'>Self Development</span> section to help you become a better artist.</td>
          <td class='rst-2 tg'>52 min ago</td>
        </tr>
      </table>
    </div>
  </div>
</body>