{% extends "mockupbase.html" %}

{% block content %}
<div id='standings'>
	<div id='standings-top'>
		<h1>Standings</h1>
		<div id='st-search'>Search</div>
	</div>
	<table id='standings-table-head' class='tg'>
		<tr>
			<td style='width:95px'></td>
			<td style='width:145px'>Song</td>
			<td style='width:80px'>Artist</td>
			<td style='width:155px'>Album</td>
			<td>Votes</td>
			<td>Win%</td>
			<td>Rank</td>
			<td></td>
		</tr>
	<table id='standings-table' class='tg'>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>Genius</td>
			<td>Eddy Grant</td>
			<td>These Walls</td>
			<td>89,722</td>
			<td>96%</td>
			<td class='tw'>2</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>Neezus</td>
			<td>Junip</td>
			<td>Rise Up</td>
			<td>33,880</td>
			<td>96%</td>
			<td class='tw'>3</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>My Life</td>
			<td>Reed Wilson</td>
			<td>Forrest Hills Drive</td>
			<td>44,820</td>
			<td>95%</td>
			<td class='tw'>4</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>Feeling Some Way</td>
			<td>Brendan Sax</td>
			<td>The Feeling Process</td>
			<td>90,472</td>
			<td>95%</td>
			<td class='tw'>5</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>That Guala</td>
			<td>Ayotemi</td>
			<td>Not Acceptable</td>
			<td>22,810</td>
			<td>95%</td>
			<td class='tw'>6</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>State of Mind</td>
			<td>Dollar Dan</td>
			<td>Not Acceptable</td>
			<td>32,088</td>
			<td>94%</td>
			<td class='tw'>7</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>Free Man</td>
			<td>Kryptic</td>
			<td>Misusing my Influence</td>
			<td>53,002</td>
			<td>94%</td>
			<td class='tw'>8</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>Crazy</td>
			<td>Poet</td>
			<td>Loving You Is Complicated</td>
			<td>50,438</td>
			<td>94%</td>
			<td class='tw'>9</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>Misfortunate Event</td>
			<td>Unknown an</td>
			<td>The New World</td>
			<td>73,199</td>
			<td>94%</td>
			<td class='tw'>10</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>Believe Me</td>
			<td>Faded Freddy</td>
			<td>Blueprint</td>
			<td>71,883</td>
			<td>93%</td>
			<td class='tw'>11</td>
			<td class='tb'>...</td>
		</tr>
		<tr>
			<td>></td><td>+</td><td>1.</td><td><div class='ppicback tppic'></div></td>
			<td class='tw'>Woman Crush Wednesday</td>
			<td>J Tru</td>
			<td>Illmatic</td>
			<td>69,477</td>
			<td>93%</td>
			<td class='tw'>12</td>
			<td class='tb'>...</td>
		</tr>
	</table>
</div>
<div id='standings-selectors'>
	<div id='ssb1' class='ss-box'>
		<h3>Top Songs</h3>
		<div class='ssb-6select'>
			<div class='ssb6s'><div class='ssb6s-c'></div>1</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>2</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>3</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>4</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>5</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>6</div>
		</div>
	</div>
	<div id='ssb2' class='ss-box'>
		<h3>Top Artists</h3>
		<div class='ssb-6select'>
			<div class='ssb6s'><div class='ssb6s-c'></div>1</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>2</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>3</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>4</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>5</div>
			<div class='ssb6s'><div class='ssb6s-c'></div>6</div>
		</div>
	</div>
	<div id='ssb3' class='ss-box'>
		<h3>Total Songs</h3>
		<div class='tg' style='text-align:center'>62,964</div>
	</div>
	<div id='ssb4' class='ss-box'>
		<h3>Total Artists</h3>
		<div class='tg' style='text-align:center'>8,997</div>		
	</div>
</div>

<style>
#standings-top{display:flex;justify-content:center;padding:30px 0;}
#standings-table-head{border-bottom:solid 1px white;margin:25px;border-spacing:10px 5px;}
#sth-i td{height:1px;visibility:hidden;}
#standings-table{margin:25px;border-spacing:10px 5px;font-size:75%;}
.tppic{height:35px;width:35px;}
#st-search{width:300px;border-radius:500px;background:#464646;padding:0px 10px 7px;font-size:12px;height:16px;margin:26px 0 0 10px;}
#standings-selectors{position:fixed;bottom:50px;width:730px;height:100px;border-top:solid 1px #464646;background:black;display:flex;justify-content:center}
.ss-box{margin:0 25px;}
.ss-box h3{font-weight:normal;margin:10px 0;font-size:16px;text-align:center;}
#ssb1, #ssb2{width:25%;}
.ssb-6select{display:flex;}
.ssb6s{width:16.6667%;text-align:center;}
.ssb6s-c{border-radius:50%;height:20px;width:20px;border:solid 2px white;}
</style>
{% endblock %}